<h2>Run SSH command:</h2>
<figure class='cli'>
  <pre>
  <code class='cli'>
{{host}}# {{command}}

{{output}}
  </code>
  </pre>
</figure>

<h2>Extract variables from output using TTP template:</h2>

<figure class='python'>
<pre>
  <code class='python'>
    {{ttp_template}}
  </code>
</pre>
</figure>

<h2>Extracted the following variables:</h2>

<figure class='python'>
<pre>
  <code class='python'>
{{_vars}}
  </code>
</pre>
</figure>